@model             Player

<h2>Добавление участника Т</h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="Id">Айди</label><br />
        <input type="text" asp-for="Id" />
    </p>
    <p>
        <label asp-for="Nickname">Никнейм</label><br />
        <input type="text" asp-for="Nickname" />
    </p>
    <p>
        <label asp-for="Platform">Платформа</label><br />
        <input type="text" asp-for="Platform" />
    </p>
    <p>
        <label asp-for="Clan">Клан</label><br />
        <input type="text" asp-for="Clan" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
