@model             Player

<h2>Редактирование участника Т</h2>
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Id">Айди</label><br />
        <input type="text" asp-for="Id" />
    </p>
    <p>
        <label asp-for="Nickname">Никнейм</label><br />
        <input type="text" asp-for="Nickname" />
    </p>
    <p>
        <label asp-for="Platform">Платформа</label><br />
        <input type="text" asp-for="Platform" />
    </p>
    <p>
        <label asp-for="Clan">Клан</label><br />
        <input type="text" asp-for="Clan" />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>